body,html{
    margin: 0;
}
.id-card{
    height: 600px;
    width: 530px;
    padding: 2%;
    margin: 8px 0px;
    border: border-box;
    box-shadow: 11px 20px 32px -4px rgba(150, 150, 150, 0.24), -43px -20px 32px -4px rgba(150, 150, 150, 0.24)
    , 38px -20px 32px -4px rgba(117, 79, 79, 0.24), -29px 25px 32px -4px rgba(150, 150, 150, 0.24);

}
table td:nth-child(2){
    text-align: left;
    padding-left: 15px ;
}
table td:nth-child(1){
    text-align: right;
}
